pandas>=1.0.1
scikit-learn>=0.22.1
streamlit>=0.61.0
gunicorn==19.9.0
Flask==1.1.1
Jinja2==2.10.1
itsdangerous==1.1.0
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
matplotlib>=1.4.3
flasgger==0.9.4
Pillow==7.1.2
MarkupSafe==1.1.1
